<div class="footer">
        <div class="footer1">
            <h1>JLMEDINA</h1>
            <h3>El mejor equipo de computo para uso personal</h3>
        </div>

        <div class="footer2">
            <h1>ENLACES RAPIDOS</h1>
                <ul class="datos_li">
                    <li><a href="#"></a>Inicio</li>
                    <li><a href="#"></a>Products</li>
                    <li><a href="#"></a>Nosotros</li>
                </ul>
        </div>

        <div class="footer3">
                <h1>CONTÁCTANOS</h1>
                   <ul class="datos_li">
                    <li><a href="#"></a>contacto&#64;jlmedina.com.mx</li>
                    <li><a href="#"></a>(+52) 123 456 7890</li>
                    <li><a href="#"></a>Aguascalientes, México.</li>
                   </ul> 
        </div>
</div>  
<p class="bfooter"><span>&reg;</span>JLMEDINA ┼ Todos los derechos reservados.</p>