

<div class="card-group">
  <div class="row ">
    @if (vista == 'grid'){
      @for(p of products; track p){
          <div class="col-md-3 mb-3" id="cambioVista">
            
              <div class="card p-3 m-2"> 
                  <app-card [cartas]="p"></app-card>
              </div>
          </div>
        }}@else{
            @for(p of products; track p){
                <div class="col-md-12 mb-1" id="cambioVista">
                  
                    <div class="card p-3 m-2"> 
                        <app-card [cartas]="p"></app-card>
                    </div>
                </div>
        }}