<div class="d-flex justify-content-center mb-3 generalcards">
    <i 
        style=" border-radius: 5px ;cursor: pointer; background-color: blue; font-size: 50px; border: 5px solid blue; margin-right: 30px; font-size: 48px;" 
        class="fas fa-th"
        onclick="cambioClaseGrid('cambioVista','col-md-3 mb-3')">
    </i>

    <i 
        style=" border-radius: 5px ;cursor: pointer; background-color: blue; font-size: 50px; border: 5px solid blue; margin-right: 30px; font-size: 48px;" 
        class="fas fa-list"
        onclick="cambioClaseGrid('cambioVista','col-md-12 mb-1')">
    </i>
</div>